---
import Layout from '@layouts/Layout.astro';

import InputField from '@components/InputField.astro';
import SelectField from '@components/SelectField.astro';

const TODAY_STR = new Date().toISOString().split('T')[0];
const VAT_DEDUCTION_OPTIONS = [0, 0.5, 1] as const;

const errors = {
  date: '',
  place: '',
  mileage: '',
  amount: '',
  cost: '',
};
let submitted = false;

if (Astro.request.method === 'POST') {
  const data = await Astro.request.formData();
  const date = data.get('date') || TODAY_STR;
  const place = data.get('place');
  const mileage = data.get('mileage');
  const amount = data.get('mileage');
  const cost = data.get('cost');

  console.log({
    date,
    place,
    mileage,
    amount,
    cost,
  });

  submitted = true;
}
---

<Layout title="Paliwo">
  <div>
    <h1>Dodaj tankowanie</h1>
    <form method="POST">
      <InputField
        class="mt-3 w-full max-w-xs"
        name="date"
        type="date"
        label="Data"
        placeholder="Data"
        error={errors.date}
        value={TODAY_STR}
      />
      <InputField
        class="mt-3 w-full max-w-xs"
        name="place"
        type="text"
        label="Miejsce"
        placeholder="Miejsce"
        error={errors.place}
      />
      <InputField
        class="mt-3 w-full max-w-xs"
        name="mileage"
        type="number"
        min="0"
        step="1"
        label="Przebieg (km)"
        placeholder="Przebieg (km)"
        error={errors.mileage}
      />
      <InputField
        class="mt-3 w-full max-w-xs"
        name="amount"
        type="number"
        min="0"
        step="0.01"
        label="Ilość (l)"
        placeholder="Ilość (l)"
        error={errors.amount}
      />
      <InputField
        class="mt-3 w-full max-w-xs"
        name="cost"
        type="number"
        min="0"
        step="0.01"
        label="Koszt (zł)"
        placeholder="Koszt (zł)"
        error={errors.cost}
      />
      <SelectField
        class="mt-3 w-full max-w-xs"
        label="Odliczenie VAT"
        options={VAT_DEDUCTION_OPTIONS.map((value) => ({
          value: value.toString(),
          label: value * 100 + '%',
        }))}
        selected={VAT_DEDUCTION_OPTIONS[1].toString()}
      />

      <div class="form-control mt-10 w-full max-w-xs">
        {
          submitted && (
            <div class="alert alert-success mb-4 flex">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-6 w-6 shrink-0 stroke-current"
                fill="none"
                viewBox="0 0 24 24"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
                />
              </svg>
              <span>Tankowanie zostało dodane!</span>
            </div>
          )
        }
        <input type="submit" value="Dodaj" class="btn-primary btn" />
      </div>
    </form>
  </div>
</Layout>
