---
import InputField from "@components/InputField.astro";
import Layout from "@layouts/Layout.astro";

const todayStr = new Date().toISOString().split("T")[0];
const vatDeductionOptions = [0, 0.5, 1];

const errors = {
  date: "",
  place: "",
  mileage: "",
  amount: "",
  cost: "",
};
let submitted = false;

if (Astro.request.method === "POST") {
  const data = await Astro.request.formData();
  const date = data.get("date") || todayStr;
  const place = data.get("place");
  const mileage = data.get("mileage");
  const amount = data.get("mileage");
  const cost = data.get("cost");

  console.log({
    date,
    place,
    mileage,
    amount,
    cost,
  });

  submitted = true;
}
---

<Layout title="Paliwo">
  <div>
    <h1>Dodaj tankowanie</h1>
    <form method="POST">
      <InputField
        class="w-full max-w-xs mt-3"
        name="date"
        type="date"
        label="Data"
        placeholder="Data"
        error={errors.date}
        value={todayStr}
      />
      <InputField
        class="w-full max-w-xs mt-3"
        name="place"
        type="text"
        label="Miejsce"
        placeholder="Miejsce"
        error={errors.place}
      />
      <InputField
        class="w-full max-w-xs mt-3"
        name="mileage"
        type="number"
        min="0"
        step="1"
        label="Przebieg (km)"
        placeholder="Przebieg (km)"
        error={errors.mileage}
      />
      <InputField
        class="w-full max-w-xs mt-3"
        name="amount"
        type="number"
        min="0"
        step="0.01"
        label="Ilość (l)"
        placeholder="Ilość (l)"
        error={errors.amount}
      />
      <InputField
        class="w-full max-w-xs mt-3"
        name="cost"
        type="number"
        min="0"
        step="0.01"
        label="Koszt (zł)"
        placeholder="Koszt (zł)"
        error={errors.cost}
      />

      <div class="form-field w-full max-w-xs mt-3">
        <label class="label">
          <span class="label-text-alt">Odliczenie VAT</span>
        </label>
        <select class="select select-bordered w-full max-w-xs">
          {
            vatDeductionOptions.map((value) => (
              <option value={value} selected={value === vatDeductionOptions[1]}>
                {value * 100 + "%"}
              </option>
            ))
          }
        </select>
      </div>

      <div class="form-control w-full max-w-xs mt-10">
        {
          submitted && (
            <div class="alert alert-success mb-4 flex">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="stroke-current shrink-0 h-6 w-6"
                fill="none"
                viewBox="0 0 24 24"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
                />
              </svg>
              <span>Tankowanie zostało dodane!</span>
            </div>
          )
        }
        <input type="submit" value="Dodaj" class="btn btn-primary" />
      </div>
    </form>
  </div>
</Layout>
