---
import classnames from 'classnames';

import ErrorMessage from './ErrorMessage.astro';

export interface Props extends astroHTML.JSX.InputHTMLAttributes {
  error?: string;
  class?: string;
  label?: string;
}

const { name, type = 'text', label, error, placeholder, class: cls, ...rest } = Astro.props;
---

<div class={classnames('form-control', cls)}>
  {
    label && (
      <label class="label" for={name}>
        <span class="label-text-alt">{label}</span>
      </label>
    )
  }
  <input
    name={name}
    type={type}
    placeholder={placeholder || label}
    class={classnames('input input-bordered input-sm w-full', {
      'input-error': error,
    })}
    {...rest}
  />
  <ErrorMessage error={error} />
</div>
