---
import Card from '@components/Card.astro';
import FuelLayout from '@layouts/FuelLayout.astro';
import { FuelService } from '@services/fuel';
import {
  calculateFuelUsage,
  zloty,
  getFuelSearchParams,
  calculateCostPer100km,
  sumBy,
} from '@utils/fuel';

const { from, to } = getFuelSearchParams(Astro.request.url);
const fuelService = new FuelService();
const { rows, totalFuelUsage, totalCostPer100km } = await fuelService.getData(from, to);

const totalMileage = rows.at(-1)!.mileage - rows[0]!.mileage;
const totalAmount = sumBy(rows, (r) => r.amount);
const totalCost = sumBy(rows, (r) => r.cost);
const totalUnitCost = totalCost / totalAmount;
const totalVatDeduction = sumBy(rows, (r) => r.deduction * r.cost) / sumBy(rows, (r) => r.cost);
const totalCostReduced = sumBy(rows, (r) => r.costReduced);
const totalCostDiff = sumBy(rows, (r) => r.costDiff);
const totalUnitCostReduced = totalCostReduced / totalAmount;
---

<FuelLayout>
  <div class="mt-3 w-full">
    <Card>
      <div class="m-2 overflow-x-auto">
        <table class="table-pin-rows table-xs table">
          <thead>
            <tr class="bg-base-200">
              <th></th>
              <th>Data</th>
              <th>Miejsce</th>
              <th>Przebieg</th>
              <th>Ilość paliwa</th>
              <th>Koszt brutto</th>
              <th>Zł brutto / l</th>
              <th colspan="2">Spalanie / 100 km</th>
              <th>Odliczenie VAT</th>
              <th>Koszt netto</th>
              <th>Różnica kosztu</th>
              <th>Zł netto / l</th>
            </tr>
          </thead>
          <tbody>
            {
              rows.map((row, index, rows) => (
                <tr>
                  <th>{index + 1}</th>
                  <td>{new Date(row.date).toLocaleDateString('pl-PL')}</td>
                  <td>
                    {row.station} - {row.city}
                  </td>
                  <td>{row.mileage}</td>
                  <td>{row.amount} l</td>
                  <td>{zloty(row.cost)}</td>
                  <td>{zloty(row.cost / row.amount)}</td>
                  <td>
                    {index > 0
                      ? calculateFuelUsage(rows.slice(index - 1, index + 1)).toFixed(2) + ' l'
                      : '-'}
                  </td>
                  <td>
                    {index > 0
                      ? zloty(calculateCostPer100km(rows.slice(index - 1, index + 1)))
                      : '-'}
                  </td>
                  <td>{row.deduction * 100}%</td>
                  <td>{zloty(row.costReduced)}</td>
                  <td>{zloty(row.cost - row.costReduced)}</td>
                  <td>{zloty(row.costReduced / row.amount)}</td>
                </tr>
              ))
            }
            {
              rows.length > 0 && (
                <tr class="bg-base-200 font-semibold">
                  <th colspan="3" />
                  <td>{totalMileage}</td>
                  <td>{totalAmount.toFixed(2)} l</td>
                  <td>{zloty(totalCost)}</td>
                  <td>{zloty(totalUnitCost)}</td>
                  <td>{totalFuelUsage.toFixed(2)}</td>
                  <td>{zloty(totalCostPer100km)}</td>
                  <td>{(totalVatDeduction * 100).toFixed(0)}%</td>
                  <td>{zloty(totalCostReduced)}</td>
                  <td>{zloty(totalCostDiff)}</td>
                  <td>{zloty(totalUnitCostReduced)}</td>
                </tr>
              )
            }
          </tbody>
        </table>
      </div>
    </Card>
  </div>
</FuelLayout>
